.ui.container.segment
  = form_for @song, html: {class:'ui form' } do |f|
    - if @song.errors.any?
      #error_explanation
        %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
        %ul
          - @song.errors.full_messages.each do |message|
            %li= message
    .field
      .ui.labeled.input
        .ui.label
          = f.label :title
        = f.text_field :title

    .field
      .ui.labeled.input
        .ui.label
          = f.label :thumbnail
        = f.file_field :thumbnail

    .field
      .ui.labeled.input
        .ui.label
          = f.label :song_file
        = f.file_field :song_file

    .actions
      = f.submit 'Save', class: 'ui button'

